GIMP/
QtProject.conf
Thunar/
Trolltech.conf
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
chromium/
cmst/
dconf/
dleyna-renderer-service.conf
dolphinrc
enchant/
evince/
evolution/
ffmpegthumbsrc
fontforge/
gnome-control-center/
goa-1.0/
gtk-3.0/
gtkrc
gtkrc-2.0
htop/
inkscape/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdeglobals
keepassxc/
kfontinstuirc
kfontviewrc
kglobalshortcutsrc
kgpgrc
khotkeysrc
kiorc
konsolerc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksystemlogrc
ktimerrc
ktimezonedrc
kwinrc
kwinrulesrc
kwriterc
kxkbrc
libaccounts-glib/
mimeapps.list
nautilus/
neofetch/
obs-studio/
okularpartrc
okularrc
pavucontrol.ini
pipewire/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
pulse/
qalculate/
rygel.conf
session/
spectaclerc
sqlitebrowser/
systemd/
systemsettingsrc
totem/
trashrc
us-keymap
user-dirs.dirs
user-dirs.locale
whoozle.github.io/
xfce4/
yelp/